<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated apsppumm -->
      <package
            uri="aps_ppu_mm"
            class="quality.aps_ppu_mm.Aps_ppu_mmPackage"
            genModel="model/apsppumm.genmodel"/>
   </extension>

</plugin>
