<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated apsmm -->
      <package
            uri="aps_mm"
            class="quality.aps_mm.Aps_mmPackage"
            genModel="model/apsmm.genmodel"/>
   </extension>

</plugin>
