<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated output -->
      <package
            uri="http://www.example.org/output"
            class="output.OutputPackage"
            genModel="model/output.genmodel"/>
   </extension>

</plugin>
