<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated as.foaa -->
      <package
            uri="as_foaa"
            class="quality.as_foaa.As_foaaPackage"
            genModel="model/as.foaa.genmodel"/>
   </extension>

</plugin>
