<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated input -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="input.presentation.InputModelWizardID"
            name="%_UI_InputModelWizard_label"
            class="input.presentation.InputModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/InputModelFile.gif">
         <description>%_UI_InputModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated input -->
      <editor
            id="input.presentation.InputEditorID"
            name="%_UI_InputEditor_label"
            icon="icons/full/obj16/InputModelFile.gif"
            extensions="input"
            class="input.presentation.InputEditor"
            contributorClass="input.presentation.InputActionBarContributor">
      </editor>
   </extension>

</plugin>
